body {
    background-color: #121212
}

.jumbotron {
    background-color: #181818;
    border-radius: 25px;
}

.ending {
    color: #282828
}

#quotes {
    border-radius: 25px;
    background-color: #181818;
}

h1 {
    color: white
}

h2 {
    color: white
}

h3 {
    color: white
}

p {
    color: white
}

dt {
    color: white
}

dd {
    color: #b3b3b3;
}
